                <!-- Subscribe form and footer links -->
                <div class="row mt-5 pt-3">
                    <div class="col-xl-6 col-lg-12 mb-4">
                        <div class="tm-bg-gray p-5 h-100">
                            <h3 class="tm-text-red mb-3">Bize Ulaşın</h3>
                            <p class="mb-2">1.Yol Sakarya 1.Organize Sanayi Bölgesi No:3 Adapazarı/Arifiye/Sakarya</p>
                            <p class="mb-2">YTÜ Davutpaşa Kampüsü Teknopark Alanı D1 Blok Esenler / İstanbul    </p>
                            <p class="mb-2">bilgi@neutec.com.tr</p>
                            <p class="mb-2">+90 850 201 23 23</p>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12 mb-4">
                        <div class="p-5 tm-bg-gray h-100">
                            <h3 class="tm-text-red mb-4">İletişim Linkleri</h3>
                            <ul class="list-unstyled tm-footer-links">
                                <li><a href="https://neutec.com.tr/">Neutec</a></li>
                                <li><a href="https://www.linkedin.com/company/neutec-grup/">LinkedIn</a></li>
                            </ul>    
                        </div>                        
                    </div>
                </div> <!-- row -->

                <footer class="row pt-5">
                    <div class="col-12">
                        <p class="text-right">Copyright 2024 © <a href="https://neutec.com.tr" rel="nofollow" target="_blank">Neutec</a> Tüm Hakları Saklıdır.</p>
                    </div>
                </footer>
            </div> <!-- tm-content-container -->
        </div>

    </div> <!-- .tm-page-wrap -->

    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>