<!-- Footer Section -->
<div class="row mt-5 pt-3">
    <div class="col-xl-6 col-lg-12 mb-4">
        <div class="p-5 h-100 shadow-sm rounded">
            <h3 class="tm-text-red mb-3">Bize Ulaşın</h3>
            <p class="mb-2"><i class="fas fa-map-marker-alt"></i> 1.Yol Sakarya 1.Organize Sanayi Bölgesi No:3 Adapazarı/Arifiye/Sakarya</p>
            <p class="mb-2"><i class="fas fa-map-marker-alt"></i> YTÜ Davutpaşa Kampüsü Teknopark Alanı D1 Blok Esenler / İstanbul</p>
            <p class="mb-2"><i class="fas fa-phone"></i> <a href="tel:+908502012323" class="text-decoration-none">+90 850 201 23 23</a></p>
        </div>
    </div>
    <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12 mb-4">
        <div class="p-5 h-100 shadow-sm rounded">
            <h3 class="tm-text-red mb-4">İletişim Linkleri</h3>
            <ul class="list-unstyled tm-footer-links">
                <li class="mb-2">
                    <a href="https://neutec.com.tr/" target="_blank" class="text-decoration-none">
                        <i class="fas fa-globe"></i> Neutec
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/company/neutec-grup/" target="_blank" class="text-decoration-none">
                        <i class="fab fa-linkedin"></i> LinkedIn
                    </a>
                </li>
                <li class="mb-2">
                    <a href="mailto:bilgi@neutec.com.tr" target="_blank" class="text-decoration-none">
                        <i class="fas fa-envelope"></i> bilgi@neutec.com.tr
                    </a>
                </li>
            </ul>    
        </div>                        
    </div>
</div> <!-- row -->

<!-- Footer Copyright -->
<footer class="row pt-5">
    <div class="col-12 text-center">
        <p class="text-muted small">
            Copyright 2024 © <a href="https://neutec.com.tr" rel="nofollow" target="_blank" class="text-decoration-none">Neutec</a>. Tüm Hakları Saklıdır.
        </p>
    </div>
</footer>