<%- include("partials/_header") -%>
<body>
    <div class="tm-page-wrap mx-auto">
        <div class="position-relative">
            <%- include("partials/_navigation") -%>

            <div class="tm-welcome-container tm-fixed-header tm-fixed-header-3">
                <div class="text-center">
                    <p class="tm-welcome-text mb-1 text-white">Neutec<br>Ürün Ekleme Platformu</p>
                </div>                
            </div>

            <div id="tm-fixed-header-bg"></div> <!-- Header image -->
        </div>

        <!-- Page content -->
        <main>
            <div class="container-fluid px-0">
                <div class="mx-auto tm-content-container">                    
                    <div class="row mt-4 mb-5 pb-3">
                        <div class="col-12">
                            <div class="mx-auto tm-about-text-container px-3">
                                <h2 class="tm-page-title mb-4 tm-text-red">Ürün Ekle</h2>
                                <p class="mb-4">
                                    Ürün adını, açıklamasını ve fotoğrafını aşağıdan ekleyebilirsiniz.
                                </p>
                            </div>                            
                        </div>                        
                    </div>
                    <div class="mx-auto pb-3 tm-about-text-container px-3">
                        <div class="row">
                            <div class="col-lg-8 offset-lg-2 mb-5">
                                <form method="POST" action="/products" class="tm-contact-form" enctype="multipart/form-data">
                                    <div class="form-group mb-3">
                                        <label for="name" class="form-label">Ürün Adı:</label>
                                        <input type="text" name="name" id="name" class="form-control rounded-3" placeholder="Ürün Adı" required>
                                    </div>
                                    <div class="form-group mb-3">
                                        <label for="description" class="form-label">Ürün Açıklaması:</label>
                                        <textarea rows="8" name="description" id="description" class="form-control rounded-3" placeholder="Ürün Açıklaması" required></textarea>
                                    </div>
                                    <div class="form-group mb-3">
                                        <label for="image" class="form-label">Ürün Görseli:</label>
                                        <input type="file" name="image" id="image" class="form-control-file rounded-3">
                                    </div>
                                    <div class="form-group mb-0">
                                        <button type="submit" class="btn btn-primary rounded-3 d-block mx-auto"><span>Ekle</span></button>
                                    </div>
                                </form>    
                            </div>
                        </div>  
                    </div>                                                  
                </div>
            </div>
        </main>

        <div class="container-fluid tm-content-container mx-auto pt-4">
            <%- include("partials/_footer") -%>
        </div>
    </div>

    <script src="js/parallax.min.js"></script>    
</body>
</html>
