

html { scroll-behavior: smooth; overflow-x: hidden; }

body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    line-height: 2em;
    overflow-x: hidden;
}

a {
    transition: all 0.3s ease;
    color: #666;
}

a:hover {
    color: rgb(237, 28, 36);
    text-decoration: none;
}

h2, p { color: #666666; }

.tm-site-header {
    position: absolute;
    z-index: 1000;
    width: 100%;
    top: 0;
    left: 0;
    padding: 40px;
}

.tm-logo-container {
    display: block;
    padding: 30px;
    width: 320px;
    height: 160px;
}

.tm-site-logo { font-size: 3rem; }
.tm-site-name { font-size: 1.9rem; }

#tm-video-container {
    max-height: 720px;
    overflow: hidden;
    background-color: #333;
}

#tm-video {
    width: 100%;
    height: auto;
}

.tm-bg-black {
    background-color: rgba(0,0,0,0.5);
    color: white;
}

/* .tm-bg-gray { flex-grow: 1; background-color: #f8f9fa; border-radius: 10px;  } */
.tm-text-primary { color: rgb(237, 28, 36); }
.tm-text-secondary { color: #3CAFAF; }
.tm-text-red { color: rgb(237, 28, 36)}

.tm-nav-link {
    color: white;
    font-size: 1.4rem;    
}

#tm-main-nav .nav-item .nav-link { border-bottom: 1px solid transparent; }

#tm-main-nav .nav-item.active .nav-link,
#tm-main-nav .nav-item:hover .nav-link {
    border-bottom: 1px solid white;
    color: white;
}

.tm-welcome-container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    z-index: 999;
}

.tm-welcome-container-inner { margin-top: 100px; }
.tm-welcome-text { font-size: 1.6rem; }

.btn {
    padding: 15px 60px;
    font-size: 1.6rem;
    border: none;
    cursor: pointer;
}

.btn-primary { background-color: rgb(237, 28, 36); }
.btn-primary:hover { background-color: rgb(170, 8, 14); }
.btn-red { background-color: rgb(237, 28, 36);}
.btn-red:hover { background-color: rgb(237, 28, 36);}


.tm-btn-animate {
    position: relative;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: all 0.3s ease;
}

.tm-btn-animate:before {
    left: 0;
    top: -100%;
    position: absolute;
    height: 100%;
    width: 100%;
    line-height: 2.5;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    font-family: "Font Awesome 5 Free";
    font-style: normal;
    font-weight: 900;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

.tm-btn-animate:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.tm-btn-animate:hover:before { top: 13px; }

.tm-btn-animate span {
    display: inline-block;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.3s;
    -webkit-backface-visibility: hidden;
    -moz-transition: all 0.3s;
    -moz-backface-visibility: hidden;
    transition: all 0.3s;
    backface-visibility: hidden;
}

.tm-btn-animate:hover span {
    -webkit-transform: translateY(300%);
    -moz-transform: translateY(300%);
    -ms-transform: translateY(300%);
    transform: translateY(300%);
}

.tm-btn-cta {
    color: white;
    background-color: rgba(52, 52, 52, 0.726);
}

.tm-btn-cta:before { font-size: 180%; }
.tm-btn-download:before { font-size: 120%; }
.tm-btn-submit:before { font-size: 120%; }
.tm-icon-down:before { content: '\f078'; }
.tm-icon-download:before { content: '\f019'; }
.tm-icon-submit:before { content: '\f1d8'; }
.tm-icon-submit:hover:before { top: 18px; }
.tm-btn-cta:hover { color: white; }

.tm-btn-download:hover,
.tm-btn-download:focus,
.tm-btn-submit:hover,
.tm-btn-submit:focus {
    color: white;
    background-color:  rgb(237, 28, 36);
}

.tm-btn-download span { padding-top: 10px; }
.tm-btn-small { 
    padding: 10.5px 35px;
    font-size: 1.2rem; 
}

.tm-catalog-item-img {
    width: 462px; /* Sabit genişlik */
    height: 300px; /* Sabit yükseklik */
    object-fit: cover; /* Fotoğrafın düzgün kırpılması için */
}

#tm-video-control-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

.tm-content-container {
    max-width: 1422px;
    padding-top: 80px;
    padding-bottom: 35px;
}

.tm-page-title { font-size: 2.5rem; }
.tm-catalog-item-list { justify-content: start; }

.tm-catalog-item {
    max-width: 462px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 64px;
    margin-left: 5px;
}

.tm-thumbnail-container { overflow: hidden; }
.tm-thumbnail-container img { transition: all 0.3s ease; }
.tm-thumbnail-container:hover img { transform: scale(1.2) rotate(5deg); }

.tm-img-overlay {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.4);
    cursor: pointer;
    transition: all 0.3s ease ;
}

.tm-overlay-icon {
    color: #a7a7a7;
    opacity: 1;
    font-size: 2rem;
    padding: 10px 15px;
    background-color: rgba(0,0,0,0.5);
    border-radius: 50%;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 8px;
    z-index: 1002;
    transition: all 0.3s ease;  
}

.tm-img-overlay:hover { background-color: transparent; }
.tm-img-overlay:hover .tm-overlay-icon { opacity: 0; }
.tm-catalog-item-description { flex: 1; }

.tm-categories-container {
    display: flex;
    align-items: center;
}

.tm-categories-text { margin-right: 16px; }
.tm-category-list { font-size: 1.75rem; }
.tm-category-item { margin: 16px; }

.tm-category-link {
    color: rgb(237, 28, 36);
    padding: 10px;
    border-bottom: 3px solid transparent;
}

.tm-category-link.active,
.tm-category-link:hover {
    border-bottom: 3px solid rgb(237, 28, 36);
    color: rgb(237, 28, 36);
}

.tm-paging-link {
    background-color: #F4F4F4;
    margin-right: 12px;
    font-size: 1.5rem;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tm-page-wrap {
    margin: 0 auto;
}

.contact_form {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

form input, form select {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    width: 100%;
}

form button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

form button:hover {
    background-color: #0056b3;
}

.tm-welcome-container {
    background: rgba(0, 0, 0, 0.7);
    padding: 50px 0;
}

.tm-welcome-text {
    font-size: 2rem;
    color: #fff;
}


.nav-item.active > .tm-paging-link,
.nav-item:hover > .tm-paging-link {
    background-color: #CCC;
    color: #666666;
}

.tm-subscribe-form { 
    display: flex; 
    align-items: center;
}

.tm-subscribe-form > input {
    padding: 5px 15px;
    margin-right: 20px;
    flex: 1;
    max-width: 382px;
}

.tm-footer-links > li { margin-bottom: 0.5rem; font-size: 1.1rem; }
.tm-footer-links li a { color: #343a40; transition: color 0.3s ease;}
.tm-footer-links li a:hover {color: #d9534f;}

/*Video detail page*/

.tm-video-title { color: rgb(237, 28, 36); font-size: 2.5rem; }
.tm-share-box { 
    font-size: 1.4rem; 
    padding: 3rem;
}
.tm-share-box-title { font-size: 1.4rem; }

.tm-bg-white {
    background-color: white;
    border: 1px solid #CDCECF;
    border-radius: 5px;
}

.tm-share-button {
    width: 52px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 24px;
}

.tm-share-button:last-child { margin-right: 0; }
.tm-text-link { color: rgb(237, 28, 36); }

.tm-likes-box,
.tm-btn-download {
    width: 280px;
    height: 60px;
}

.tm-likes-box { padding-top: 12px; }
.tm-video-description-box { max-width: 920px; }
.tm-text-gray { color: #6F7071; }

.tm-fixed-header {
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;    
    background-color: #666;
}

/* Sonradan eklenenler SmartEDU */

.text-muted {
    font-size: 1rem;
}

.fas, .fab {
    margin-right: 10px;
    color: #d9534f;
}

.rounded {
    border-radius: 10px;
}   

.stat-wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.stat-card {
    flex: 1;
    margin: 10px; /* Aralarındaki boşluk */
    max-width: 500px; /* Her bir kartın maksimum genişliği */
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.stat-card-count {
    max-width: 400px;
    margin: 0 auto; /* Ortalamak için */
    background-color: #f8f9fa; /* Arka plan rengini değiştirmek için */
    border: 1px solid #dee2e6; /* Kenarlık eklemek için */
}

.stat-card-count:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.stat-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.stat-card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 1;
}

.stat-card:hover::before {
    opacity: 1;
}

.stat-card .icon_wrap {
    z-index: 2;
}

.stat-card .stat-title {
    z-index: 2;
}

.stat-card .stat_count {
    z-index: 2;
}

.icon_wrap i {
    color: #495057;
    transition: color 0.3s ease;
}

.icon_wrap:hover i {
    color: #d9534f;
}

.stat-title {
    font-size: 1.4rem;
    color: #495057;
    margin-top: 10px;
    margin-bottom: 5px;
}

.stat_count {
    font-size: 2.5rem;
    margin: 0;
}

.card {
    transition: transform 0.3s ease-in-out;
  }
  
.card:hover {
    transform: translateY(-10px);
  }

.btn {
    padding: 0.75rem 1.5rem;
    font-size: 1.5rem;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  }

.btn-outline-primary {
    color: #007bff;
  }

.btn-outline-primary:hover {
    background-color: #fff;
    color: #0560c1;
  }

.btn-outline-danger {
    color: #ff0000;
  }

.btn-outline-danger:hover {
    background-color: #fff;
    color: #c60a0a;
  }

  .tm-card {
    position: relative;
    background: #fff;
    border: 1px solid #ddd;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    overflow: hidden;
    padding: 15px;
    text-align: center;
}

.tm-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.tm-card-title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #333;
    font-weight: bold;
}

.tm-card-description {
    font-size: 1rem;
    margin-top: auto; /* Description'ı alta sabitlemek için */
    color: #666;
}

.tm-catalog-item .shadow-lg {
    width: 423px;
    height: 482px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tm-paging-links {
    margin-bottom: 100px;
}

.card-desc {
    font-size: 1.5rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/* Sonranan eklenenler SmartEDU */

#tm-fixed-header-bg { height: 450px; }
.tm-fixed-header-1 { background-image: url(../img/Neutec-2.jpg); }
.tm-fixed-header-2 { background-image: url(../img/Neutec-2.jpg); }
.tm-fixed-header-3 { background-image: url(../img/Neutec-2.jpg); }

video {
  width: 100%;
  height: auto;
}

.tm-liked-icon { display: none; }
.tm-welcome-text-2 { max-width: 575px; }
.tm-share-button:hover { background-color: #e9ecef; }

/*About*/
.tm-about-text-container { max-width: 920px; }

.parallax-window {
    min-height: 270px;
    background: transparent;
}

.parallax-window-2 {
    min-height: 360px;
}

.tm-about-icon {
    color: #999;
}

/* Contact */
.mapouter{
    position:relative;
    text-align:right;
    height:540px;
    width:100%;
}

.gmap_canvas {
    overflow:hidden;
    background:none!important;
    height:540px;
    width:100%;
}

.form-control {
    font-size: 1.2rem;
    padding: 21px 25px;
}

.form-group {
    margin-bottom: 35px;
}

#contact-select {
    height: 60px;
    border-radius: 0;
}

#contact-select:not([multiple]) {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-position: right 15px center;
  background-repeat: no-repeat;
  background-image: url(../img/select-arrow.png);
  padding: 14px 20px;
  padding-right: 20px;
  color: #666;
}
.tm-testimonial-text {
    max-width: 420px;
    font-style: italic;
}

@media (min-width: 992px) {
    #tm-main-nav .nav-item { margin: 20px 40px; }
    .navbar-expand-lg .navbar-nav .nav-link { padding: 8px 0px; }
    .navbar-expand-lg .navbar-collapse { justify-content: flex-end; }
}

@media (max-width: 1419px) {
    .tm-catalog-item { margin-bottom: 30px; }
}

@media (max-width: 991px) {
    .navbar {
        max-width: 220px;
        position: absolute;
        top: 0;
        right: 0;
        padding: 0;
    }
    
    .navbar-collapse {
        background-color: rgba(0,0,0,0.5);
        border-radius: 5px;
        border-top-right-radius: 0;
        padding: 10px 15px;
    }

    .nav-item { margin-bottom: 10px; }

    .navbar-toggler {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        width: 52px;
        height: 40px;
    }

    .navbar-toggler.collapsed {
        border-bottom-left-radius: .25rem;
        border-bottom-right-radius: .25rem;   
    }

    .navbar-toggler i.tm-menu-opened-icon { display: block; }
    .navbar-toggler i.tm-menu-closed-icon { display: none; }
    .navbar-toggler.collapsed i.tm-menu-opened-icon { display: none; }
    .navbar-toggler.collapsed i.tm-menu-closed-icon { display: block; }
    .tm-welcome-container-inner { margin-top: 150px; }
    .tm-welcome-text { font-size: 1.4rem; }

    #tm-video {
        width: 888px;
        height: 500px;
    }

    .tm-logo-container {
        height: 160px;
        width: 250px;
    }

    .tm-site-header { padding: 20px; }
    .tm-catalog-item-list { max-width: 924px; }
    .tm-share-box { max-width: 400px; }
}

@media (max-width: 879px) {
    .tm-categories-container {
        flex-direction: column;
        align-items: flex-start;
    }
}

@media (max-width: 640px) {
    .tm-subscribe-form { 
        flex-direction: column; 
        align-items: stretch;
    }

    .tm-subscribe-form > input {
       max-width: 100%;
    }

    .tm-subscribe-form input {
        margin-right: 0;
        margin-bottom: 15px;
    }

    .tm-share-box {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}

@media (max-width: 419px) {
    .tm-testimonial {
        flex-direction: column;
    }
}